.navbar{
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #f4f0e0;
   
    img{
        width: 100px;
        height: 30px;
    }

    .drinkType{
        display: flex;
        list-style: none;
        justify-content: space-between;
    }

    .drinkType-active{
        display: flex;
        list-style: none;
        justify-content: space-between;
    }

    .categoriesLink{
        display: flex;
        justify-content: space-between;
    }


    .cartwidget{
        display: flex;
        margin-right: 50px;
        
    }

    .backButton{
        color: white;
        background-color: black;
        border-color: black;

    }
}